.corporation-panel {
  .thumbnail {
    width:70px;
    height:70px;

    .thumbnail-content {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }  
  }

  .panel-add {
    text-align: center;
    font-size: 2em;
    background-color: #eee;
  }
}
