<form>
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></div>
      <input type="text" class="form-control" placeholder="Search contacts" ng-model="contactListController.searchTerm">
    </div>
  </div>
</form>

<table class="table table-hover">
  <thead>
    <td>
      <a ng-click="contactListController.sortClicked('username')">
        Name
        <span ng-show="contactListController.sortType == 'username'"
              ng-class="contactListController.sortReverse ? 'glyphicon-chevron-up' : 'glyphicon-chevron-down'"
              class="glyphicon"
              aria-hidden="true">
        </span>
      </a>
    </td>
    <td>
      <a ng-click="contactListController.sortClicked('email')">
        Email
        <span ng-show="contactListController.sortType == 'email'"
              ng-class="contactListController.sortReverse ? 'glyphicon-chevron-up' : 'glyphicon-chevron-down'"
              class="glyphicon"
              aria-hidden="true">
        </span>
      </a>
    </td>
  </thead>

  <tr ng-repeat="contact in contactListController.contacts"
      ui-sref="app.contacts.detail.main({id: contact.attributes.username})">
    <td>{{ contact.attributes.username }}</td>
    <td>{{ contact.attributes.email }}</td>
  </tr>

  <tfoot>
    <td colspan="3">
      <pagination-bar current-page="contactListController.currentPage" 
                      number-of-items="contactListController.numberOfContacts"
                      page-changed="contactListController.pageChanged">
      </pagination-bar>
    </td>
  </tfoot>

</table>
