<nav class='text-center'>
  <ul class="pagination">
    <li ng-class="{ disabled: barController.isPreviousButtonDisabled() }">
      <a ng-click="barController.prevPage()" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li ng-repeat="n in barController.range()"
        ng-class="{ active: barController.isCurrentPage(n) }"
        ng-click="barController.setPage(n)">
      <a>{{n+1}}</a>
    </li>
    <li ng-class="{ disabled: barController.isNextButtonDisabled() }">
      <a ng-click="barController.nextPage()" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
