<div class="container">
  <form class="form-signin" ng-submit="loginController.login(credentials)" novalidate>
    <h2 class="form-signin-heading">Sign In</h2>
    <hr/>
    <label class="sr-only">Username</label>
    <input type="text" ng-model="credentials.username" class="form-control" placeholder="Username" required="" autofocus="">
    <label class="sr-only">Password</label>
    <input type="password" ng-model="credentials.password" class="form-control" placeholder="Password" required="">
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <div ng-show="loginController.showError">
      <hr/>
      <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        <span>{{ loginController.errorMessage }}</span>
      </div>
    </div>
  </form>
</div>
